* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #f7f7f7;
  background-color: #373e47;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(245, 112, 3);
  min-height: 10vh;
}

header img {
  width: 50px;
}

header span.brand {
  font-size: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100vw;
}

.msg {
  font-size: 32px;
}

div.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.countries {
  margin: 5rem 0;
  display: flex;
  flex-flow: column;
  gap: 4rem;
  max-width: 100%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  position: relative;
  background-color: #fff;
  color: #373e47;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  border-radius: 0.7rem;
  margin: 0 1rem;
}

.country::before {
  content: 'Current country';
  position: absolute;
  top: -2rem;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #888;
}

article.neighbor::before {
  content: 'Neighbor country' !important;
  position: absolute;
  top: -2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.country__img {
  max-width: 100%;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  display: grid;
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__data * {
  display: inline-flex;
}

.country__name {
  font-size: 2.3rem;
  margin-bottom: 0.7rem;
  overflow: hidden;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.neighbors {
  margin: 1rem 0;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  max-width: 100%;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 1s;
}

@media (min-width: 768px) {
  .countries {
    display: flex;
    flex-flow: row;
    max-width: 80%;
  }
  .neighbor {
    transform: scale(0.8) translateY(1rem);
    margin-left: 0;
  }
}
